body {
    background-color: white;
    font-family: 'Dosis', sans-serif;
    margin: 0;
    z-index: 2;
}

/* Welcome Screen */

#welcome-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
  
.welcome-container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcome-text {
    font-size: 4.479vw;
    color: rgb(57, 55, 55);
    position: relative;
    opacity: 1;
    transition: opacity 0.3s linear;
}

.animate-color span {
    transition: color 0.3s linear;
    color: white;
}

.animate-slide {
    animation: slide-animation 1s 0.5s forwards;
    animation-fill-mode: both;
}

@keyframes slide-animation {
    0% {
        transform: translateY(0);
    }
    99% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(-100%);
    }
}

.hidden {
    display: none;
}

/* Portfolio */

#portfolio {   
    position: relative;
    background-color: white;
    color: black;
    width: 100%;
    height: 100%;
}

/* Header */
  
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: black;
    color: white;
    padding: 24px;
    height: auto;
}

#name {
    @media screen and (max-width: 851px) {
        font-size: 13px;
    }
    font-size: 16px;
    margin-bottom: 20px;
}

header p {
    margin-top: 0;
}

header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

header ul li {
    margin: 0 10px;
    cursor: pointer;
    line-height: 23px;
    cursor: pointer;
    transition: font-size 0.1s ease-in;
}

header ul li:hover {
    margin: 0 10px;
    transition: font-size 0.3s ease-in;
    font-size: 23px;
}

@media screen and (min-width: 851px) {
    header {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 626px) {
    header ul li:hover {
        font-size: 19px;
    }
    #name {
        font-size: 13px;
    
    }
}

@media screen and (max-width: 556px) {
    header {
        font-size: 13px;
    }
    header ul li:hover {
        font-size: 15px;
    }
    #name {
        font-size: 10px;
    }
}

@media screen and (max-width: 468px) {
    header {
        font-size: 10px;
    }
    header ul li:hover {
        font-size: 12px;
    }
}

@media screen and (max-width: 400px) {
    header {
        font-size: 9px;
    }
    header ul li:hover {
        font-size: 10px;
    }
}

.underline {
    position: relative;
}
  
.underline::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: rgb(255, 98, 0);
    border-radius: 6px;
}

/* Page Hero */

.page-hero {
    background-color: black;
    height: 88.7vh;
    color: white;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    flex-wrap: wrap;
    width: 100%;
    z-index: 2;
    position: relative;
    overflow: hidden;
    @media screen and (max-width: 1130px) {
        justify-content: center
    }
}

#writing-container {
    margin-left: 7.29vw;
    margin-bottom: 17.22vh;
    background-color: black;
    position: relative;
    z-index: 99;
    width: 49%;
    display: inline-flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    border-radius: 2.86vw;
    @media screen and (max-width: 1130px) {
        margin-left: 0;
        width: 70%;
    }
}

#ph-p-container {
    @media screen and (max-width: 1100px) {
        width: 90%;
    } 
    width: 60%;
    position: relative;
    margin-bottom: 0.75vh;
}

#p-page-hero {
    margin: 1.72vh 0;
}

#ph-h1-container {
    @media screen and (max-width: 1130px) {
        width: 90%;
    }
    width: 80%;
    position: relative;
    overflow: visible;
    margin-top: -2.69vh;
}

#ph-h1-container h1 {
    @media screen and (max-width: 1298px) {
        font-size: 47.38px;
    }
    font-size: 3.65vw;
    margin-bottom: 3.55vh;
    position: relative;
    display: inline-block;
}

.highlight {
    box-shadow: inset 0 -2.93vh 0 rgb(255, 98, 0);
}

#page-hero-svgs { 
    @media screen and (max-width: 1548px) {
        height: 43.73px;
    }
    height: 5.38vh;
    display: flex;
    align-items: center;
    margin-left: 1.04vw;
    margin-bottom: 1.61vh;
    position: relative;
}

.svg-icon {
    @media screen and (max-width: 1548px) {
        width: 40.23px;
        height: 43.73px;
        margin-right: 16.1px;
    }
    width: 2.60vw;
    height: 5.38vh;
    margin-right: 1.04vw;
    fill: rgb(255, 98, 0);
    cursor: pointer;
    transition: ease-in 0.2s;
}

.svg-icon:hover {
    fill: white;
    transition: ease-in 0.2s;
}

/* Clouds */

#background-wrap {
    width: 100%;
    position: absolute;
}

/* KEYFRAMES */

@-webkit-keyframes animateCloud {
    0% {
        margin-left: -52.08vw;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -52.08vw;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -52.08vw;
    }
    100% {
        margin-left: 100%;
    }
}

/* ANIMATIONS */

.x1 {
    -webkit-animation: animateCloud 35s linear infinite;
    -moz-animation: animateCloud 35s linear infinite;
    animation: animateCloud 35s linear infinite;
    -webkit-transform: scale(0.65);
    -moz-transform: scale(0.65);
    transform: scale(0.65);
}

.x2 {
    -webkit-animation: animateCloud 20s linear infinite;
    -moz-animation: animateCloud 20s linear infinite;
    animation: animateCloud 20s linear infinite;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3);
}

.x3 {
    -webkit-animation: animateCloud 30s linear infinite;
    -moz-animation: animateCloud 30s linear infinite;
    animation: animateCloud 30s linear infinite;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
}

.x4 {
    -webkit-animation: animateCloud 18s linear infinite;
    -moz-animation: animateCloud 18s linear infinite;
    animation: animateCloud 18s linear infinite;
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4);
}

.x5 {
    -webkit-animation: animateCloud 25s linear infinite;
    -moz-animation: animateCloud 25s linear infinite;
    animation: animateCloud 25s linear infinite;
    -webkit-transform: scale(0.55);
    -moz-transform: scale(0.55);
    transform: scale(0.55);
}

/* OBJECTS */

.cloud {
    background: white;
    background: -moz-linear-gradient(top,  rgb(222, 217, 217), grey 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,grey), color-stop(100%,grey));
    background: -webkit-linear-gradient(top,  rgb(222, 217, 217),grey 100%);
    background: -o-linear-gradient(top,  rgb(222, 217, 217),grey 100%);
    background: -ms-linear-gradient(top,  rgb(222, 217, 217),grey 100%);
    background: linear-gradient(top,  rgb(222, 217, 217),grey 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='grey', endColorstr='grey',GradientType=0 );
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    -webkit-box-shadow: 0 8px 5px rgb(255, 98, 0);
    -moz-box-shadow: 0 8px 5px rgb(255, 98, 0);
    box-shadow: 0 8px 5px rgb(255, 98, 0);
    height: 120px;
    position: relative;
    width: 350px;
}

.cloud:after, .cloud:before {
    background: rgb(222, 217, 217);
    content: '';
    position: absolute;
    z-indeX: -1;
}

.cloud:after {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    height: 100px;
    left: 50px;
    top: -50px;
    width: 100px;
}

.cloud:before {
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    width: 180px;
    height: 180px;
    right: 50px;
    top: -90px;
}

@media screen and (max-width: 1027px) {
    .cloud {
        -webkit-border-radius: 75px;
        -moz-border-radius: 75px;
        border-radius: 75px;
        -webkit-box-shadow: 0 6px 3.5px rgb(255, 98, 0);
        -moz-box-shadow: 0 6px 3.5px rgb(255, 98, 0);
        box-shadow: 0 6px 3.5px rgb(255, 98, 0);
        height: 90px;
        width: 262.5px;
    }  
    .cloud:before {
        -webkit-border-radius: 150px;
        -moz-border-radius: 150px;
        border-radius: 150px;
        width: 135px;
        height: 135px;
        right: 37.5px;
        top: -67.5px;
    }
    .cloud:after {
        border-radius: 75px;
        height: 75px;
        left: 37.5px;
        top: -37.5px;
        width: 75px;
    }        
}

/* My Skills */

.content-container-margin{
    margin: 10.24vh 10.42vw 0;
}

.h2-highlight {
    box-shadow: inset 0px -20px 0 rgb(255 98 0 / 85%)
}

.section-title {
    font-size: 50px;
    margin-left: 5vw;
    margin-bottom: 5%;
}

.section-title-fom {
    font-size: 50px;
    margin: 0 0 4% 5vw;
    position: relative;
}

.h2-highlight-gmail {
    box-shadow: inset 0px -20px 0 rgb(255 98 0 / 85%)
}

.slide-in-left-placeholder {
    visibility: hidden;
}

.slide-in-left {
    animation: slide-in-left 2s ease-out;
    visibility: visible;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.skills-container {
    visibility: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 0rem 7rem;
    @media screen and (max-width: 1572px), screen and (max-height: 812px) {
        grid-gap: 0rem 5.5rem;
    } 
    @media screen and (max-width: 1230px) {
        grid-gap: 0;        
    }
}
  
#coding-picture-column {
    grid-column: 1 / 2; 
    grid-row: 1 / span 3; 
    display: flex;
    justify-content: center;
    align-items: 0;
}
  
#skills-column {
    grid-column: 2 / 3;
    grid-row: 1 / span 3; 
    display: grid;
    grid-template-rows: 1fr 2fr;
}

#coding-img {
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 1572px) {
    #coding-img {
        height: 75%;
        width: 75%;
    }
}

@media screen and (max-width: 1394px) {
    #coding-img {
        height: 60%;
    }
}

#skills-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-content: center;
}

.skill-container {
    margin: 0.16rem;
    padding: 0.16rem 1rem;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    border-radius: 3px;
}

@media screen and (max-width: 863px) {
    .skill-container {
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;  
    }
}

@media screen and (max-width: 863px) {
    .skill-container {
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;  
    }
}

@media screen and (max-width: 580px) {
    .skill-container {
        font-size: 13px;
    }
}

.text-centre {
    text-align: center;
}

#small-about {
    display: flex;
    flex-direction: column;
}

#small-about h4 {
    font-weight:bold;
    margin-top: 0;
}

.small-skills-container {
    display: flex;
    flex-direction: column;
    visibility: hidden;
}

#small-skills-top-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1063px) {
    #small-skills-top-row {
        margin-bottom: 3%;
    }
}

@media screen and (max-width: 714px) {
    .small-skills-container {
        margin-top: 10%;
    }
    #small-skills-top-row {
        margin-bottom: 10%;
    }
}

.small-skills-half-1 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-skills-half-2 {
    width: 50%;
    display: flex;
    justify-content: center;
}

/* Projects */

.white-buffer {
    height: 40px;
    width: 100%;
}

#squiggle-divide-project {
    background-image: url('./dividers/layered-divider.svg');
    background-size: cover;
}

.content-container-padding-fp {
    padding: 10.24vh 10.42vw;
}

@media screen and (max-width: 1380px) {
    .content-container-padding-fp {
        padding: 6vh 10.42vw;
    }
}

.content-container-padding {
    padding: 10.24vh 10.42vw;
}
  
.section-divider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@keyframes slide-in-right {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.projects-h2-container {
    display: flex;
    justify-content: end;
    align-items: center;
    visibility: hidden;
}

.slide-in-right {
    animation: slide-in-right 1s ease-out;
    visibility: visible;
}

.opposite-section-title {
    font-size: 50px;
    margin-bottom: 7.5%;
}

@media screen and (max-width: 1212px) {
    .opposite-section-title {
        margin-bottom: 12.5%;
    }
}

@media screen and (max-width: 692px) {
    .opposite-section-title {
        margin-bottom: 68.47px;
    }
}

#projects-picture-column {
    grid-column: 2 / 2;
    grid-row: 1 / span 3;
    display: flex;
    align-items: start;
    justify-content: center;
}

#gmail-img {
    height: auto;
    width: 80%;
    filter: blur(5px);
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.1); 
    box-shadow: 0 8px 30px 0 rgba(31, 38, 135, 0.37); 
    backdrop-filter: blur(15px); 
}

#gmail-img-unblur {
    height: auto;
    width: 80%;    
    animation: unBlur 1s;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(15px); 
    box-shadow: 0 8px 30px 0 rgba(31, 38, 135, 0.37);
    transition: bottom 1s ease;
}


/* @media screen and (max-width: 1668px){
    #gmail-img, #gmail-img-unblur {
        height: 60%;
    }
}

@media screen and (max-width: 1574px){
    #gmail-img, #gmail-img-unblur {
        height: 50%;
    }
}

@media screen and (max-width: 1476px){
    #gmail-img, #gmail-img-unblur {
        height: 40%;
    }
}

@media screen and (max-width: 1312px){
    #gmail-img, #gmail-img-unblur {
        height: 35%;
    }
} */

#gmail-img-unblur:hover {
    cursor: pointer;
    bottom: 5px;
    box-shadow: 0 13px 30px 0 rgb(255 98 0 / 85%);
}

@keyframes unBlur {
    0% {
        filter: blur(5px);
    }
    100% {
        filter: blur(0px);
    }
}

.projects-container {
    visibility: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 0rem 5rem; 
    margin-bottom: 40px;
}

#projects-container-visible {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 0rem 5rem; 
    margin-bottom: 40px;
}

#projects-column-writting {
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 110%;
    background: white;
    border-radius: 8px;
}

#projects-column-writting-small {
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background: white;
    border-radius: 8px;
    margin-bottom: 60px;
}

@media screen and (max-width: 1212px) {
    #projects-column-writting-small{
        margin-bottom: 98.78px;
    }
}

.underline-regular {
    text-decoration: underline;
}

.projects-p {
    align-self: flex-start;
    font-size: 17px;
    margin: 15px 50px;
}

#projects-h3 {
    margin: 55px 0 30px 0;
    font-size: 27.5px;
}

@media screen and (max-width: 648px) {
    #projects-h3{
        margin: 40px 0 15px 0;
    }
}

#gmail-list-left {
    margin: 15px 15px 15px 30px;
    line-height: 1.3rem;
}

#gmail-list-right {
    margin: 15px 50px 15px 15px;
    line-height: 1.3rem;
}

@media screen and (max-width: 552px) {
    #gmail-list-left {
        font-size: 12px;
        margin: 15px 0 15px 20px;
    }
    
    #gmail-list-right {
        font-size: 12px;
        margin: 15px 20px 15px 0;
    }
}

#gmail-list-small {
    line-height: 1.3rem;
}

.gmail-list-half{
    display: inline-flex;
    width: 50%;
}

@media screen and (max-width: 783px) {
    #gmail-list {
        margin: 0 25px;
    }
}

@media screen and (max-width: 533px) {
    #gmail-list {
        margin: 0 15px;
        font-size: 12px;
    }
}

#gmail-list-container{
    margin: 10px 0 0 0;
}

#gmail-tech-svgs {
    height: 60px;
    width: 90%;
    margin: 20px 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}  

.tech-icon {
    height: 75%;
    width: 45px;
}

.tech-bottom {
    margin-bottom: 15px;
}

@media screen and (max-width: 1588px) and (min-width: 1298px) {
    .tech-bottom {
        margin-bottom: 20px;
    }
    #gmail-tech-svgs {
        margin-bottom: 75px;
    }
}

.tech-icon-js {
    height: 60%;
    width: 40px;
    top: 3px;
    position: relative;
}

.tech-icon-html {
    height: 75%;
    width: 55px;
    margin-right: -10px;
}

@media screen and (max-width: 592px) {
    .tech-icon {
        height: 55%;
        width: 33px;
    }
    .tech-icon-js {
        height: 55%;
        width: 33px;
        top: 3px;
        position: relative;
    }
    .tech-icon-html {
        height: 55%;
        width: 43px;
    }
}

.find-out-and-live-buttons{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

@media screen and (max-width: 588px) {
    .find-out-and-live-buttons {
        margin-top: 15px;
    }
}

@media screen and (max-width: 807px) and (min-width: 593px) {
    .find-out-and-live-buttons {
        margin-top: 40px;
    }
}

.standard-button {
    background-color: white;
    border-radius: 4px;
    border: 2px solid rgb(255, 98, 0);
    width: 200px;
    color: rgb(255, 98, 0);
    height: 60px;
    cursor: pointer;
    margin: 0 5px 55px;
    padding: 0;
    position: relative;
    font-size: 16px;
    transition-duration: 0.5s;
}

@media screen and (max-width: 737px) {
    .standard-button {
        width: 37.5%;
        height: 50px;
        font-size: 14px;
    }

}

.standard-button:hover {
    background-color: rgb(255, 98, 0);
    color: white;
    font-size: 16px;
    transition-duration: 0.5s;
}

.standard-button:active {
    background-color: rgb(255, 98, 0);
    font-size: 16px;
    text-decoration: underline;
}

.small-projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

#upside-down-squiggle{
    background-image: url('./dividers/simple-wave.svg');
    background-size: cover;
    height: 600px;
}

#black-buffer{
    background-color: black;
    height: 50px;
    width: 100%;
}

#black-background-project{
    background-color: black;
}

#projects-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 200px;
    border: grey 2px solid;
    border-radius: 8px;
    background-image: url(dividers/3-waves-bg.svg);
    background-size: 2000px 100%;
    animation: gradient 10s infinite alternate linear;
    box-shadow: 0 13px 30px 0 rgb(255 98 0 / 85%);
}

@media screen and (max-width: 1007px) {
    #projects-grid {
        margin: 0 20%;
    }
}

@media screen and (max-width: 859px) {
    #projects-grid {
        margin: 0 15%;
    }
}

@media screen and (max-width: 556px) {
    #projects-grid {
        margin: 0 10%;
    }
}


@keyframes gradient {
    100% {
        background-size: 4000px 100%;
    }
}

.project-case {
    height: 600px;
    width: 400px;
    margin: 70px 20px 0 40px;
    border: grey 2px solid;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: black;
}

@media screen and (max-width: 1323px) {
    .project-case {
        margin: 70px 20px 0;
    }
}

@media screen and (max-width: 817px) {
    .project-case {
        margin: 70px 40px 0;
    }
}

@media screen and (max-width: 712px) {
    .project-case {
        height: 700px;
    }
    #adopt {
        object-fit: cover;
    }
    #jammming {
        object-fit: cover;
    }
}

@media screen and (max-width: 428px) {
    .project-case {
        height: 600px;
        width: 200px;
    }
    .project-desc-h3 {
        font-size: 1rem;
    }
}

.project-case:hover {
    cursor: pointer;
    transform: translateY(-2.5px);
    box-shadow: 0 13px 30px 0 rgb(255 98 0 / 85%);
}

.project-image-container{
    height: 60%;
    width: calc(100% - 20px);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: grey 2px solid;
    box-sizing: border-box; 
    margin: 10px 10px 0 10px;
}

.project-image-container-appointment{
    height: 60%;
    width: calc(100% - 20px);
    overflow: hidden;
    border-radius: 4px;
    border: grey 2px solid;
    box-sizing: border-box; 
    margin: 10px 10px 0 10px;
}

.project-description-container {
    height: 34%;
    width: calc(100% - 20px);
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 4px;
    margin: 10px;
    position: relative;
    top: 2px;
    flex-direction: column;
    align-items: center;
}

.project-desc-h3 {
    margin: 7.5px 0;
    text-align: center;
}

.project-desc-p {
    text-align: center;
    margin: 7.5px 15px;
}

@media screen and (max-width: 572px) {
    .project-case {
        height: 700px;
        width: 250px;
    }
    .project-desc-h3 {
        margin: 5px 0 0 0;
    }
    .project-desc-p {
        font-size: 0.8rem;
    }
}

.project-desc-svg-container {
    display: flex;
    height: 30px;
    width: 90%;
    margin: 7.5px 20px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (min-width: 633px) {
    .desc-svg-icon {
        height: 80%;
    }
}

@media screen and (max-width: 632px) {
    .project-case {
        width: 300px;
        height: 600px;
    }
    .project-description-container {
        height: 35%;
    }
    .desc-svg-icon {
        height: 60%;
    }
}

#adopt {
    height: 100%;
    width: 100%;
}

#number-guesser {
    height: 100%;
    width: auto;
    object-fit: cover;
}

#appointment {
    height: 100%;
    width: auto;
    object-fit: contain;
    overflow: hidden;
}

#jammming {
    height: 100%;
    width: 100%;
}

#tech-news {
    height: 100%;
    width: auto;
}

#grid-buffer {
    height: 70px;
    width: 100%;
}

/* GMail Find Out More */

#squiggle-divide-breakdown {
    background-image: url('./dividers/layered-divider.svg');
    background-size: cover;
}

#gmail-code-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#gmail-code {
    height: auto;
    width: 100%;
    border-radius: 8px;
    margin-top: 40px;
}

@media screen and (max-width: 1034px) {
    .section-title-fom {
        font-size: 45px;
    }
    #gmail-code {
        margin-top: 20px;
    }
    .h2-highlight-gmail {
        box-shadow: inset 0px -18.5px 0 rgb(255 98 0 / 85%);
    }
}

@media screen and (max-width: 667px) {
    .section-title-fom {
        font-size: 35px;
    }
    .h2-highlight-gmail {
        box-shadow: inset 0px -13px 0 rgb(255 98 0 / 85%);
    }
}

@media screen and (max-width: 519px) {
    .section-title-fom {
        font-size: 25px;
    }
    .h2-highlight-gmail {
        box-shadow: inset 0px -9px 0 rgb(255 98 0 / 85%);
    }
}

#small-gmail-code {
    height: auto;
    width: 100%;
    border-radius: 8px;
    margin-top: 40px;
}

#smaller-gmail-code {
    width: 100%;
    border-radius: 8px;
    margin-top: 20px;
}

@media screen and (max-width: 1428px) {
    .content-container-padding {
        padding: 8vh 10.42vw;
    }
    #smaller-gmail-code {
        width: 80%;
    }
}

@media screen and (max-width: 1140px) {
    #smaller-gmail-code {
        width: 90%;
    }
}

@media screen and (max-width: 1006px) {
    #smaller-gmail-code {
        width: 100%;
    }
}

.black-background-highlights{
    background-color: black;
}

.white-background {
    background-color: white;
}

.highlight-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    height: 400px;
    overflow: hidden;
}

.p-showcase, .orange {
    margin: 1em 4rem;
    text-align: center;
}

@media screen and (max-width: 1440px) {
    .p-showcase {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 1362px) {
    .p-showcase, .orange {
        margin: 1em 3em; 
    }
}

@media screen and (max-width: 1728px) {
    .highlight-container {
        height: 500px;
    }
}

@media screen and (max-width: 1158px) {
    .highlight-container {
        height: 575px;
    }
}

.show-case-video {
    width: 100%;
    height: auto;
}

.highlight-half-2-surge {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.show-case-img-surge {
    width: 150%;
    height: auto;
    border-radius: 0 8px 8px 0;
    overflow: hidden;
}

@media screen and (max-width: 1728px) {
    .show-case-img-surge {
        width: 150% !important;
        height: 100%;
        object-fit: cover;
        border-radius: 0 8px 8px 0;
        overflow: hidden;
        object-position: left;
    }
}

@media screen and (max-width: 1034px) {
    .show-case-img-surge {
        border-radius: 0 0 8px 8px;
    }
}

.show-case-img-legacy {
    width: 100%;
    height: auto;
    border-radius: 0 8px 8px 0;
    overflow: hidden;
}

@media screen and (max-width: 1158px) {
    .show-case-img-legacy {
        width: auto;
        height: 100%;
        border-radius: 0 8px 8px 0;
        overflow: hidden;
    }
}

@media screen and (max-width: 1034px) {
    .show-case-img-legacy {
        border-radius: 0 0 8px 8px;
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 1034px) {
    .highlight-container {
        flex-direction: column;
        height: 825px;
    }
    .highlight-half-1 {
        flex-direction: row;
        height: 50% !important;
        width: 100% !important;
    }
    .highlight-half-2, .highlight-half-2-surge {
        height: 50% !important;
        width: 100% !important;
    }
    .p-showcase, .orange {
        margin: 1em 2rem; 
    }
    .show-case-video {
        width: auto !important;
        height: 100% !important;
        overflow: hidden;
    }
    .show-case-img-surge {
        width: 150%;
        height: auto;
        border-radius: 0 0 8px 8px;
        overflow: hidden;
    }
} 

@media screen and (max-width: 832px) {
    .show-case-img-surge {
        width: 100%;
        height: 100%;
        border-radius: 0 0 8px 8px;
        overflow: hidden;
    }
}

@media screen and (max-width: 824px) {
    .p-showcase {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 754px) {
    .p-showcase {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 754px) {
    .p-showcase {
        margin: 6.4px 2rem;
    }
}

@media screen and (max-width: 520px) {
    .p-showcase {
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 444px) {
    .orange {
        font-size: 1rem;
    }
    .p-showcase {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 1018px) {
    .highlight-container {
        height: 800px;
    }
}

.highlight-half-1 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.highlight-half-2 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: hidden;
}

.highlight-desc-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    flex-direction: column;
}

#highlight-desc-p{
    margin: 3rem 3rem 1.5rem;
    text-align: center;
    line-height: 1.5rem;
}

.highlight-svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hightlight-desc-svg {
    margin: 1.5rem 1.5rem 3rem 1.5rem;
    transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
    height: 66px;
    width: 66px;
    border-radius: 50%;
}

.hightlight-desc-svg:hover {
    transform: scale(1.03);
    cursor: pointer;
    box-shadow: 0 0 20px 5px rgb(255 98 0 / 85%);
}

.bottom-h3 {
    bottom: 1.25rem;
    position: relative;
}

#SGH3 {
    bottom: 2.25rem;
    position: relative;
}

#geo-h3 {
    padding-bottom: 0.5rem;
}

#geo-highlight-half-1 {
    bottom: 0.25rem;
    position: relative; 
}

#responsivity-h3 {
    bottom: 1rem;
    position: relative;
}

.orange {
    color: rgb(255, 98, 0);
    text-align: center;
    visibility: hidden;
}  

.orange-projects {
    visibility: hidden;
} 

/* Jammming */

#smaller-jammming-code {
    width: 80%;
    border-radius: 8px;
    margin-top: 30px;
}

.lh-15rem {
    line-height: 1.5rem;
}

/* Important to keep at end for css flow */

.fade-in {
    animation: fadeUp 1s ease-in forwards;
    visibility: visible; 
    color: rgb(255, 98, 0);
}

@keyframes fadeUp {
    from { 
        opacity: 0;
        transform: translateY(100%);
    }
    to { 
        opacity: 1; 
        transform: translateY(0);
    }
}

.show {
    visibility: visible;
}




