body {
    background-color: white;
    font-family: 'Dosis', sans-serif;
    margin: 0;
    z-index: 2;
}

/* Welcome Screen */

#welcome-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
  
.welcome-container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcome-text {
    font-size: 4.479vw;
    color: rgb(57, 55, 55);
    position: relative;
    opacity: 1;
    transition: opacity 0.3s linear;
}

.animate-color span {
    transition: color 0.3s linear;
    color: white;
}

.animate-slide {
    animation: slide-animation 1s 0.5s forwards;
    animation-fill-mode: both;
}

@keyframes slide-animation {
    0% {
        transform: translateY(0);
    }
    99% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(-100%);
    }
}

.hidden {
    display: none;
}

/* Portfolio */

#portfolio {   
    position: relative;
    background-color: white;
    color: black;
    width: 100%;
    height: 100%;
}

/* Header */
  
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: black;
    color: white;
    padding: 24px;
    font-size: 1.25rem;
    height: auto;
}

#name {
    font-size: 16px;
}

header p {
    margin-top: 0;
}

header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

header ul li {
    margin: 0 10px;
    cursor: pointer;
    line-height: 23px;
    cursor: pointer;
    transition: font-size 0.1s ease-in;
}

header ul li:hover {
    margin: 0 10px;
    transition: font-size 0.3s ease-in;
    font-size: 22px;

}

.underline {
    position: relative;
}
  
.underline::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: rgb(255, 98, 0);
    border-radius: 6px;
}

/* Page Hero */

.page-hero {
    background-color: black;
    height: 88.7vh;
    color: white;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    flex-wrap: wrap;
    width: 100%;
    z-index: 2;
    position: relative;
    overflow: hidden;
}

#writing-container {
    margin-left: 7.29vw;
    margin-bottom: 17.22vh;
    background-color: black;
    position: relative;
    z-index: 99;
    width: 49%;
    display: inline-flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    border-radius: 2.86vw;
}

#ph-p-container {
    width: 60%;
    position: relative;
    margin-bottom: 0.75vh;
}

#p-page-hero {
    margin: 1.72vh 0;
}

#ph-h1-container {
    width: 80%;
    position: relative;
    overflow: visible;
    margin-top: -2.69vh;
}

#ph-h1-container h1 {
    font-size: 3.65vw;
    margin-bottom: 3.55vh;
    position: relative;
    display: inline-block;
}

.highlight {
    box-shadow: inset 0 -2.93vh 0 rgb(255, 98, 0);
}

#page-hero-svgs {
    height: 5.38vh;
    display: flex;
    align-items: center;
    margin-left: 1.04vw;
    margin-bottom: 1.61vh;
    position: relative;
}

.svg-icon {
    width: 2.60vw;
    height: 5.38vh;
    margin-right: 1.04vw;
    fill: rgb(255, 98, 0);
    cursor: pointer;
    transition: ease-in 0.2s;
}

.svg-icon:hover {
    fill: white;
    transition: ease-in 0.2s;
}

/* Clouds */

#background-wrap {
    width: 100%;
    position: absolute;
}

/* KEYFRAMES */

@-webkit-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

/* ANIMATIONS */

.x1 {
    -webkit-animation: animateCloud 35s linear infinite;
    -moz-animation: animateCloud 35s linear infinite;
    animation: animateCloud 35s linear infinite;
    -webkit-transform: scale(0.65);
    -moz-transform: scale(0.65);
    transform: scale(0.65);
}

.x2 {
    -webkit-animation: animateCloud 20s linear infinite;
    -moz-animation: animateCloud 20s linear infinite;
    animation: animateCloud 20s linear infinite;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3);
}

.x3 {
    -webkit-animation: animateCloud 30s linear infinite;
    -moz-animation: animateCloud 30s linear infinite;
    animation: animateCloud 30s linear infinite;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
}

.x4 {
    -webkit-animation: animateCloud 18s linear infinite;
    -moz-animation: animateCloud 18s linear infinite;
    animation: animateCloud 18s linear infinite;
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4);
}

.x5 {
    -webkit-animation: animateCloud 25s linear infinite;
    -moz-animation: animateCloud 25s linear infinite;
    animation: animateCloud 25s linear infinite;
    -webkit-transform: scale(0.55);
    -moz-transform: scale(0.55);
    transform: scale(0.55);
}

/* OBJECTS */

.cloud {
    background: white;
    background: -moz-linear-gradient(top,  rgb(222, 217, 217), grey 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,grey), color-stop(100%,grey));
    background: -webkit-linear-gradient(top,  rgb(222, 217, 217),grey 100%);
    background: -o-linear-gradient(top,  rgb(222, 217, 217),grey 100%);
    background: -ms-linear-gradient(top,  rgb(222, 217, 217),grey 100%);
    background: linear-gradient(top,  rgb(222, 217, 217),grey 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='grey', endColorstr='grey',GradientType=0 );
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    -webkit-box-shadow: 0 8px 5px rgb(255, 98, 0);
    -moz-box-shadow: 0 8px 5px rgb(255, 98, 0);
    box-shadow: 0 8px 5px rgb(255, 98, 0);
    height: 120px;
    position: relative;
    width: 350px;  
}

.cloud:after, .cloud:before {
    background: rgb(222, 217, 217);
    content: '';
    position: absolute;
    z-indeX: -1;
}

.cloud:after {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    height: 100px;
    left: 50px;
    top: -50px;
    width: 100px;
}

.cloud:before {
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    width: 180px;
    height: 180px;
    right: 50px;
    top: -90px;
}

/* My Skills */

.content-container{
    margin: 10.24vh 10.42vw;
}

.h2-highlight {
    box-shadow: inset 0px -20px 0 rgb(255 98 0 / 85%)
}

.section-title {
    font-size: 50px;
    margin-left: 5vw;
    margin-bottom: 5%;
}

.slide-in-left {
    animation: slide-in-left 2s ease-out;
    visibility: visible !important;    
}

.skills-placeholder {
    visibility: hidden;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.show-skills {
    visibility: visible !important;
}

#skills-container {
    visibility: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 0rem 7rem; 
}
  
#coding-picture-column {
    grid-column: 1 / 2; 
    grid-row: 1 / span 3; 
}
  
#skills-column {
    grid-column: 2 / 3;
    grid-row: 1 / span 3; 
    display: grid;
    grid-template-rows: 1fr 2fr;
}

#coding-img {
    height: 100%;
    width: 100%;
}

#skills-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-content: center;
}

#skills-list {
    padding: 10px;
}

.skill-container {
    margin: 0.16rem;
    padding: 0.16rem 1rem;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    border-radius: 3px;
}

#small-about {
    display: flex;
    flex-direction: column;
}

#small-about h4 {
    font-weight:bold;
    margin-top: 0;
}

/* Projects */

#squiggle-divide-project {
    background-image: url('./layered-divider.svg');
    background-size: cover;
}

.content-container-projects {
    padding: 10.24vh 10.42vw;
}

.portfolio-section {
    position: relative; /* Required for SVG positioning */
}
  
.section-divider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Adjust height as needed */
}

.projects-placeholder {
    visibility: hidden;
}

.slide-in-right {
    animation: slide-in-right 1s ease-out;
    visibility: visible !important;    
}

@keyframes slide-in-right {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.opposite-section-title {
    font-size: 50px;
    margin-left: 80%;
    margin-bottom: 5%;
}

#projects-picture-column {
    grid-column: 2 / 2;
    grid-row: 1 / span 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gmail-img {
    height: 90%;
    width: 79.5%;
    filter: blur(5px);
    position: relative;
    border-radius: 20px; 
    overflow: hidden;
    background: rgba(255, 255, 255, 0.1); 
    box-shadow: 0 8px 30px 0 rgba(31, 38, 135, 0.37); 
    backdrop-filter: blur(15px); 
}

#gmail-img-unblur {
    height: 90%;
    width: 79.5%;
    animation: unBlur 1s;
    position: relative;
    border-radius: 20px; 
    overflow: hidden;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(15px); 
    box-shadow: 0 8px 30px 0 rgba(31, 38, 135, 0.37);
    transition: bottom 1s ease;
}

#gmail-img-unblur:hover {
    cursor: pointer;
    bottom: 5px;
    box-shadow: 0 13px 30px 0 rgb(255 98 0 / 85%);
}

@keyframes unBlur {
    0% {
        filter: blur(5px);
    }
    100% {
        filter: blur(0px);
    }
}

#gmail-glass{
    height: 100%;
    width: 75%;
    position: relative;
    border-radius: 20px; 
    overflow: hidden;
    background: rgba(255, 255, 255, 0.1); 
    box-shadow: 0 8px 30px 0 rgba(31, 38, 135, 0.37); 
    backdrop-filter: blur(15px); 
}

#projects-container {
    visibility: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 0rem 5rem; 
    margin-bottom: 40px;
}

.show-projects {
    visibility: visible !important;
}

#projects-column-writting {
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background: white;
    border-radius: 8px;
}

.underline-regular {
    text-decoration: underline;
}

.projects-p {
    align-self: flex-start;
    font-size: 17px;
    margin: 17px 50px;
}

#projects-h3 {
    margin: 55px 0 30px 0;
    font-size: 27.5px;
}

#gmail-list {
    align-self:flex-start;
}

.gmail-list-half{
    display: inline-flex;
    width: 50%;
}

#gmail-list-container{
    margin: 10px 0 0 0;
}

#gmail-tech-svgs {
    height: 60px;
    width: 90%;
    margin: 20px 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.tech-icon {
    height: 75%;
    width: 45px;
}

.tech-icon-js {
    height: 60%;
    width: 40px;
    top: 3px;
    position: relative;
}

.tech-icon-html {
    height: 75%;
    width: 60px;
    margin: 0 -10px 0;
}


.find-out-and-live-buttons{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.standard-button {
    background-color: white;
    border-radius: 4px;
    border: 2px solid rgb(255, 98, 0);
    width: 200px;
    color: rgb(255, 98, 0);
    height: 60px;
    cursor: pointer;
    margin: 0 5px 40px;
    padding: 0;
    position: relative;
    font-size: 16px;
}

.standard-button:hover {
    background-color: rgb(255, 98, 0);
    color: white;
    font-size: 16px;
    transition-duration: 0.5s;
}

.standard-button:active {
    background-color: rgb(255, 98, 0);
    font-size: 16px;
    text-decoration: underline;
}

#upside-down-squiggle{
    background-image: url('./simple-wave.svg');
    background-size: cover;
    height: 600px;
}

#black-buffer{
    background-color: black;
    height: 50px;
    width: 100%;
}

#black-background-project{
    background-color: black;
}

#projects-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0 200px 60px ;
    border: grey 2px solid;
    border-radius: 8px;
    background-image: url(3-waves-bg.svg);
    background-size: 2000px 100%;
    animation: gradient 10s infinite alternate linear;
}

@keyframes gradient {
    100% {
      background-size: 4000px 100%;
    }
  }

.project-case {
    height: 500px;
    width: 400px;
    margin-top: 70px;
    border: grey 2px solid;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: black;
}

.project-case:hover {
    cursor: pointer;
    transform: translateY(-2.5px);
    box-shadow: 0 13px 30px 0 rgb(255 98 0 / 85%);
}

.project-image-container{
    height: 60%;
    width: calc(100% - 20px);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: grey 2px solid;
    box-sizing: border-box; 
    margin: 10px 10px 0 10px;
}

.project-image-container-appointment{
    height: 60%;
    width: calc(100% - 20px);
    overflow: hidden;
    border-radius: 4px;
    border: grey 2px solid;
    box-sizing: border-box; 
    margin: 10px 10px 0 10px;
}

.project-description-container {
    height: 32.5%;
    width: calc(100% - 20px);
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 4px;
    margin: 10px;
    position: relative;
    top: 2px;
    flex-direction: column;
    align-items: center;
}

.project-desc-h3 {
    margin: 7.5px 0 0 0;
}

.project-desc-p {
    text-align: center;
    margin: 0 15px 0
}

.project-desc-svg-container {
    display: flex;
    height: 30px;
    width: 90%;
    margin: 0 0 5px 20px;
    justify-content: center;
    align-items: center;
}

.desc-svg-icon {
    height: 80%;
    margin-right: 20px;
}

#adopt {
    height: 100%;
    width: 100%;
}

#number-guesser {
    height: 100%;
    width: auto;
    object-fit: cover;
}

#appointment {
    height: 100%;
    width: auto;
    object-fit: contain;
}

#jammming {
    height: 100%;
    width: 100%;
}

#tech-news {
    height: 100%;
    width: auto;
}

#preview-image {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

#grid-buffer {
    height: 70px;
    width: 100%;
}


